# requirements_doc.txt
#
# installs doc dependencies from ./setup.py, and the package itself,
# in editable mode for development

dependencies:
  - python==3.9
  - sphinx>=1.4
  - pandoc
  - nbconvert
  - ipykernel
  - pip:
    - nbsphinx
